.main-header {
    width: 100%;
    padding: 0;
    margin: 0 0 0 0;
    background-color: #1A1A40;
    color: white;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 99;

    .router-link{
        color:white;
    }
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        max-width: 1350px;
        margin: 0 auto;
        .left{
            padding-left: 200px;
            list-style-type: none;
            display: flex;
            gap: 25px;
            li{
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        .center{
            font-size: 30px;
            font-weight: 700;
            cursor: pointer;
        }
        .right{
            padding-right: 200px;
            display: flex;
            align-items: center;
            gap: 25px;
            svg{
                font-size: 24px;
                cursor: pointer;
            }
        }
    }

    &.sticky-header{
        position: sticky;
        top: 0;
        transform: translateY(-80px);
        animation: stickyHeader 0.3s ease forwards;
    }
}

@keyframes stickyHeader {
    0%{transform: translateY(-80px);}
    100%{transform: translateY(0);}
}